.footer {
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  width: 100%;
  z-index: 2;
}

.footer {
  margin-top: 0;
  justify-content: center;
}
